$colornav: rgb(49, 163, 192);
$colortext: black;
$colortextnav: white;
$colorborder: goldenrod;

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Unna', serif;
    background-color: rgb(247, 247, 247);
}
header{
    text-align: center;
}
